################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/wcf_chat/.vs/wcf_chat/FileContentIndex/33e12e5a-9c50-49af-b32b-1c869420a04d.vsidx
