<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>


	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="WCF_Library_Server.WCF_Service" behaviorConfiguration="mexBeh">

				<endpoint address="" binding="netTcpBinding" contract="WCF_Library_Server.IWCF_Service"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:1434" />
						<add baseAddress="net.tcp://localhost:1435" />

					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=LAPTOP-S3L918JB\SQLDEGREE; Initial Catalog=Database; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>